* {
  font-family: "Readex Pro", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a {
  color: inherit;
}
.main {
  color: #fff;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("./background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.overlay {
  z-index: 10;
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 70%;
}
.content {
  font-size: x-large;
  width: 30%;
  height: 100%;
  position: absolute;
  z-index: 11;
}
.iksa {
  margin-left: 50%;
  text-align: left;
  height: 100%;
  color: rgb(211, 81, 81);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.title {
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: all 0.3s;
}
.title:hover {
  letter-spacing: 10px;
  color: rgb(127, 173, 190);
}
.prodi h1 {
  font-size: large;
  color: rgb(255, 255, 255);
}
.icons {
  margin-top: 15px;
  color: rgb(255, 255, 255);
}
.icons i {
  margin: 0 4px;
  transition: all 0.3s;
}
.icons i:hover {
  color: rgb(128, 197, 206);
}
